<div role="group" class="scale-input-container" [formGroup]="parts" [attr.aria-describedby]="describedBy" [attr.aria-labelledby]="_formField?.getLabelId()">
  <div class="scale-input-row">
    <div>x:</div><div class="btn" (click)="incrementX()">+</div><input id="scaleX"  class="scale-input-element" aria-label="x" formControlName="x" size="3" [value]="value.x | number:formatScale" (click)="selectAll($event)"/><div class="btn" (click)="decrementX()">-</div>
  </div>
  <span class="scale-input-spacer">&ndash;</span>
  <div class="scale-input-row">
    <div>y:</div><div class="btn" (click)="incrementY()">+</div><input id="scaleY"  class="scale-input-element" aria-label="y" formControlName="y" size="3" [value]="value.y | number:formatScale" (click)="selectAll($event)"/><div class="btn" (click)="decrementY()">-</div>
  </div>
  <span class="scale-input-spacer">&ndash;</span>
  <div class="scale-input-row">
    <div>z:</div><div class="btn" (click)="incrementZ()">+</div><input id="scaleZ" class="scale-input-element" aria-label="z" formControlName="z" size="3" [value]="value.z | number:formatScale" (click)="selectAll($event)"/><div class="btn" (click)="decrementZ()">-</div>
  </div>
</div>
