.scale-input-container {
  display: flex;
}

.scale-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

.scale-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #e7e7e7;
  border: none;
  height: 7px;
  width: 7px;
  padding: 3px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  border-radius: 3px;
}

.btn:hover {background: #eee;}

.scale-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
}

:host.example-floating .scale-input-spacer {
  opacity: 1;
}
