<div style="height: 100%; width: 100%; padding: 0" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:svg="">
  <ui-context-menu [matMenuTriggerFor]="main" [enabled]=true #menu>
    <mat-menu #main="matMenu">
      <ng-template matMenuContent>
        <button *ngIf="addThingamajigMenuItemEnabled()" mat-menu-item (click)="addNewThingamajig($event)">Add Thingamajig</button>
      </ng-template>
    </mat-menu>
  </ui-context-menu>
  <app-ar
    class="ar"
    [model]="arModel"
    (actionStartedFiring)="onActionStarted($event)"
    (actionStillFiring)="onActionStill($event)"
    (actionStoppedFiring)="onActionStopped($event)"
    (contextmenu)="menu.open($event, {} )"
  ></app-ar>
</div>
