.expansion-panel {
  width: 100%;
}

.panel-form-field {
  width: 100%;
}

.panel-title {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-header {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
